---
---
@charset "utf-8";

@import "pure-min";
@import "grids-responsive-min";
@import "header";
@import "content"; 


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
