<div id="slideshow">
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2Fkramer_cellist_center.jpg"></div>
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2FKramer_ida_1.png"></div>
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2Fsteve-kramer-statue_Good.png"></div>
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2Fsteve-kramer-piano.png"></div>
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2Fkramerslide3.png"></div>
<div><img src="http://d39ii4o550jm9.cloudfront.net/http%3A%2F%2Fstevekramercellist.com%2Fimages%2Fphotos%2Fbig-staircase.jpg"></div>
</div>
