.content {
  width: 80%;
  font-family: serif;
  font-size: large;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
}
.center {
  text-align: center;
}
@media (max-width: 48em) {
  .content {
    margin-right: 1em;
    margin-left: 3em;
  }
  .small-hide {
    display: none;
  }
}

h1,h2,h3,h4,h5,h6,p,li {
  font-family: serif;
  color: #666;
}
th, td {
  font-family: serif;
  font-size: large;
  color: #666;
  padding: 2px 10px;
}
.quote {
  font-size: x-large;
  font-style: italic;
}
.attribution {
  font-size: x-large;
}
.telephone img {
  height: 17px;
}
.slideshow #slideshow {
  max-width: 100%;
  width: 100%;
  height: 400px;
  position: relative; 
  background-color: black;
  div {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    text-align: center;
    img {
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 800px) {
  .slideshow #slideshow {
    height: 325px;
    div img {
      height: 325px;      
    }
  }
}

@media (max-width: 750px) {
  .slideshow #slideshow {
    height: 300px;
    div img {
      height: 300px;      
    }
  }
}

@media (max-width: 700px) {
  .slideshow #slideshow {
    height: 285px;
    div img {
      height: 285px;      
    }
  }
}

@media (max-width: 600px) {
  .slideshow #slideshow {
    height: 240px;
    div img {
      height: 240px;      
    }
  }
}

@media (max-width: 550px) {
  .slideshow #slideshow {
    height: 220px;
    div img {
      height: 220px;      
    }
  }
}

@media (max-width: 500px) {
  .slideshow #slideshow {
    height: 204px;
    div img {
      height: 204px;      
    }
  }
}

@media (max-width: 450px) {
  .slideshow #slideshow {
    height: 183px;
    div img {
      height: 183px;      
    }
  }
}

@media (max-width: 400px) {
  .slideshow #slideshow {
    height: 163px;
    div img {
      height: 163px;      
    }
  }
}


@media (max-width: 320px) {
  .slideshow #slideshow {
    height: 130px;
    div img {
      height: 130px;      
    }
  }
}


@media (max-width: 300px) {
  .slideshow #slideshow {
    height: 122px;
    div img {
      height: 122px;      
    }
  }
}


.gallery { // Masonry container http://w3bits.com/css-masonry/ 
  background: #000;
    column-count: 6;
    margin-top: 4px;
    padding: 4px;
    -moz-column-gap: 4px;
    -webkit-column-gap: 4px;
    column-gap: 4px;
    .gallery_image {  // Masonry bricks or child elements 
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      img {
        width: 100%;
      }
    }
}

@media (max-width: 64em) {
  .gallery {
    column-count:5;
  }
}

@media (max-width: 48em) {
  .gallery {
    column-count:3;
  }
}

@media (max-width: 35.5em) {
  .gallery {
    column-count:2;
  }
}

.full-width {
    width: 100%;
}

.footer {
    width: 100%;
    background: #F0F0F0;
    border: 1px solid #E6E6E6;
    color: #666;
    margin-top: 30px;
    padding: 5px 60px;
    font-size: x-small;
}
