
.header {
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #cfcfcf;
  
  img {
  	margin: 0 auto;
  }
  /*
  Add transition to containers so they can push in and out.
  */
  .menu,
  .menu-link {
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
  }
  
  .menu-link {
      top: 0;
      left: 0; /* "#menu width" */
      background: #000;
      background: rgba(0,0,0,0.7);
      font-size: 10px; /* change this value to increase/decrease button size */
      z-index: 10;
      width: 3em;
      height: auto;
      padding: 1.6em 1.0em;
      img {
          position: relative;
          display: block;
          width: 2em;
          height: 2em;
      }
  }

  .menu-link:hover,
  .menu-link:focus {
      background: #000;
  }
  
  div#horizontal-menu ul.menu {
    @extend .pure-menu;
    @extend .pure-menu-horizontal;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div#vert-menu ul.menu {
    @extend .pure-menu;
    top: 3em;
    left: 0; /* "#menu width" */
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    z-index: 10;
  }
  
  div ul.menu {
    @extend .pure-menu-list;
    li {
      @extend .pure-menu-item;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      background-color: #FFF;
      
      a {
        @extend .pure-menu-link;
        padding: 0 15px 0;
      }
    }
    
    li:hover::after { 
      background-color: #d14836;
      opacity: 1;
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      transition: all 0.2s linear;
    }
  }
}

@media (max-width: 48em) {
  .header img.pure-img {
    margin-right: 1em;
    margin-left: 3em;
  }
}

@media (min-width: 48em) {
    .menu-link {
      position: fixed;
      display: none;
    }
    #horizontal-menu .menu {
      display: block;
    }
    #vert-menu .menu {
      display: none;
    }
}
@media (max-width: 48em) {
  .menu-link {
    position: fixed;
    display: block;
  }
  #horizontal-menu .menu {
    display: none;
  }
  #vert-menu .menu {
    display: block;
  }
}