<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascript/slideshow.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>
  </head>
  <body>
  <div class="header">
    {% capture header_include %}{% include header.md %}{% endcapture %}
    {{ header_include | markdownify }}
  </div>
	<div class="content">
	{{ content }}
	</div>
  <div class="footer">
    {% capture footer_include %}{% include footer.md %}{% endcapture %}
    {{ footer_include | markdownify }}
  </div>
  </body>
</html>

